body{
    font-family: 'Poppins';
}
.navbar{
    background: #000000;
}
.espe{
    color: #49de8d;
}
.nav{
    color: #49DE8D;
    background-color: black;
}

.navbar-brand{
    font-size: 30px;
    font-weight: 700;
}
.rounded-image {
    border-radius: 20px; /* Ajusta este valor para más o menos redondez */
}
.home{
    color: white;
}
.container-car{
    border: 1px solid rgb(60, 255, 0);
    border-radius: 10px;
    color: white;
}
.container-car:hover{
    cursor: pointer;
}
.dropdown-menu{
    background-color: rgb(158, 148, 148);
}
.dropdown-menu li a{
    color: white;
}
.cardLevantarse{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 10px 20px rgb(124, 125, 123);
}
.cardNormal{
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    box-shadow: none;
}


@media (max-width: 1000px) {
    .container-car {
      width: 20%; 
       
    }
}
@media (max-width: 990px) {
    .container-car {
      width: 40%; 

    }
}