body{
    font-family: 'Quicksand', sans-serif;
}
.navbar{
    background: #000000;
}
.espe{
    color: #49de8d;
}
.nav{
    color: #49DE8D;
    background-color: black;
}

.navbar-brand{
    font-size: 30px;
    font-weight: 700;
}
.rounded-image {
    border-radius: 20px; 
}
.home{
    color: white;
}
.container-car{
    border: 1px solid rgb(60, 255, 0);
    border-radius: 10px;
    color: white;
    position: relative;
}
.container-car:hover{
    cursor: pointer;
}
.dropdown-menu{
    background-color: rgb(158, 148, 148);
}
.dropdown-menu li a{
    color: white;
}
.cardLevantarse{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 10px 20px rgb(124, 125, 123);
}
.cardNormal{
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    box-shadow: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro transparente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px; 
}

#closeModal {
    background: #27e03d;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}
#closeModal2 {
    background: #27e03d;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}
.container-contactactanos span{
    color: gray;
}
.container-contactactanos a{
    text-decoration: none;
}


@media (max-width: 1000px) {
    .container-todo-car {
      width: 20%; 
       
    }
}
@media (max-width: 990px) {
    .container-todo-car {
      width: 40%; 

    }
}
@media (max-width: 990px) {
    .information-footer {
      width: 100%; 

    }
}